body {
  width: 100%;
  overflow-x: hidden;
  height: 100vw;
  max-height: 1250px;
  background: radial-gradient(circle, #3d3c3c 0%, black 100%);
  color: #a97140;
  font-family: Arial, Helvetica, sans-serif; }
  body div.cont {
    max-width: 1170px;
    margin: 0 auto;
    display: block; }
    body div.cont a {
      margin-right: 60px;
      color: white;
      text-decoration: none;
      font-size: 15px; }
    body div.cont nav {
      margin-top: 52px;
      width: 100%;
      object-fit: cover;
      height: 47px;
      margin-bottom: auto; }
      body div.cont nav img.logo {
        max-width: 150px;
        min-width: 150px;
        width: 150px;
        min-width: 100px;
        float: left;
        left: 0; }
      body div.cont nav div.log2 {
        height: 50px;
        float: right;
        cursor: pointer;
        right: 0;
        display: none; }
      body div.cont nav div.block1 {
        width: 50px;
        height: 5px;
        background-color: white; }
      body div.cont nav div.block2 {
        width: 25px;
        height: 5px;
        right: 0;
        background-color: white;
        margin-top: 10px;
        transition-duration: 0.1s;
        transition-timing-function: linear;
        transition-delay: 0.05s; }
      body div.cont nav ul.abc {
        display: none;
        text-decoration: none;
        margin-top: 25px; }
      body div.cont nav div.block3 {
        width: 50px;
        height: 5px;
        background-color: white;
        margin-top: 10px;
        transition-duration: 0.1s;
        transition-timing-function: linear;
        transition-delay: 0.05s; }
      body div.cont nav div.menu {
        float: right;
        right: 0;
        height: 55px;
        margin-top: 20px;
        margin-bottom: 20px; }
    body div.cont div.nav {
      display: none;
      z-index: 2;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      height: 100%;
      width: 100%; }
      body div.cont div.nav li {
        margin-top: 25px; }
        body div.cont div.nav li a.navmenu {
          color: white;
          opacity: 1; }
    body div.cont div.slider {
      min-height: 450px;
      width: 100%;
      height: 650px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
      position: relative; }
      body div.cont div.slider div.number {
        width: 100%;
        z-index: 3;
        position: absolute;
        float: right;
        right: 0;
        font-weight: bolder;
        height: 100px;
        font-size: 30px;
        margin-top: 200px;
        color: #f2f2f2; }
        body div.cont div.slider div.number div.insidenumber {
          float: right;
          right: 0;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
          body div.cont div.slider div.number div.insidenumber div.blocktire {
            height: 3px;
            width: 50px;
            background-color: white;
            float: left;
            margin-top: 14px;
            margin-right: 15px; }
      body div.cont div.slider div.text {
        margin-top: 140px;
        float: left;
        color: #f2f2f2;
        font-size: 17px;
        padding: 8px 12px;
        line-height: 1.6;
        object-fit: contain;
        width: 45%;
        text-align: left; }
        body div.cont div.slider div.text p {
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          max-height: 200px;
          -webkit-box-orient: vertical;
          white-space: nowrap;
          overflow: hidden;
          padding: 8px 12px;
          width: 480px;
          line-height: 1.6; }
        body div.cont div.slider div.text button {
          background-color: #a97140;
          color: white;
          text-align: center;
          left: 0;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-top: 30px;
          border: none; }
      body div.cont div.slider div.img {
        float: right;
        right: 0;
        width: 35%;
        margin-right: 0;
        object-fit: contain; }
        body div.cont div.slider div.img img {
          width: 100%;
          min-width: 300px;
          right: 0;
          object-fit: contain; }
    body div.cont .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: white;
      border: 3px solid black;
      border-radius: 50%;
      display: inline-block;
      bottom: 50px;
      transition: background-color 0.6s ease; }
    body div.cont .active, body div.cont .dot:hover {
      border: 4px solid black;
      background-color: #a97140; }
    body div.cont div.boxcounter {
      height: fit-content;
      width: 100%;
      float: left;
      margin-top: 80px;
      display: table;
      position: relative; }
      body div.cont div.boxcounter div.box {
        object-fit: cover;
        height: 215px;
        max-width: 370px;
        background: black;
        float: left;
        width: 32%;
        margin-right: 15px; }
        body div.cont div.boxcounter div.box h2 {
          font-size: 24px;
          letter-spacing: 0;
          right: 0;
          margin-left: 40%;
          margin-top: 30px; }
        body div.cont div.boxcounter div.box p {
          width: 50%;
          right: 0;
          float: none;
          margin-left: 40%;
          line-height: 25px; }

h2 {
  color: #a97140;
  font-weight: bolder;
  font-size: 52px;
  line-height: 1;
  width: 100%;
  letter-spacing: -3px; }

p {
  color: white;
  font-size: 17px; }

@media (min-width: 700px) and (max-width: 1200px) {
  body {
    max-height: 100vw; }
    body div.cont div.boxcounter div.box {
      max-width: 45%;
      min-height: 215px;
      width: 45%;
      min-width: 300px;
      margin-right: 5%;
      margin-top: 25px;
      object-fit: cover;
      height: auto; }
      body div.cont div.boxcounter div.box h2 {
        width: 65%;
        margin-left: 35%; }
      body div.cont div.boxcounter div.box p {
        width: 65%;
        margin-left: 35%; } }
@media (max-width: 750px) {
  body {
    max-height: 100vw; }
    body div.cont nav div.menu {
      display: none; }
    body div.cont nav div.log2 {
      display: block; }
    body div.cont div.boxcounter div.box {
      min-height: 215px;
      width: 80%;
      max-width: 80%;
      margin-left: 10%;
      margin-top: 25px;
      object-fit: cover;
      height: auto; }
      body div.cont div.boxcounter div.box h2 {
        width: 65%;
        margin-left: 35%; }
      body div.cont div.boxcounter div.box p {
        width: 65%;
        margin-left: 35%; } }

/*# sourceMappingURL=main.css.map */
